* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {

  font-family: 'Titillium Web', sans-serif;
  color: white;
  text-shadow: -3px 0px 7px rgba(0, 0, 0, 1);
}

.main {
  border: 10px solid grey;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 33.4%; 
  grid-template-areas: 
    "box1 box1 box2 box9 box9"
    "box3 box4 box5 box9 box9"
    "box6 box7 box8 box9 box9";
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box1 {
  background-color: #737a87;
  align-content: center;
  grid-area: box1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  padding-left: 1em;
}

.header-text {
  padding-right: 1em;
}

.name {
  padding-top: .5em;
  font-size: 2em;
}

.about {
  font-size: 1.5em;
}

.header-buttons-section {
  display: flex;
  padding-top: 3em;
  margin-bottom: 1em;
}

.space {
  height: 2.5em;
  width: 12em;
  margin-right: .5em;
  border: none;
  background-color: #455f65;
  color: #FFFFFF;
  font-size: .9em;
  outline: none;
}

.space:hover {
  outline: 3px solid #b2c656;
}

.boxicon {
  font-size: 3em;
  height: 48px;
}

.boxicon:hover {
  opacity: 0.2;
  cursor: pointer;
}

.box-text {
  font-size: 1.4em;
  max-height: 34px;
}

.box2 {
  grid-area: box2;
  background-color: #d1242b;
}

.box2:hover {
  background-image: url("images/burger-1.jpg");
}

.box3 {
  grid-area: box3;
  background-color: #f3a740; 
}

.box3:hover {
  background-image: url("images/burger-2.png");
}

.box4 {
  grid-area: box4;
  background-color: #b2c656;
}

.box4:hover {
  background-image: url("images/burger-3.jpg");
}

.box5 {
  grid-area: box5;
  background-color: #d25129;
}

.box5:hover {
  background-image: url("images/burger-5.jpg");
}

.box6 {
  grid-area: box6;
  background-color: #361d11;
}

.box6:hover {
  background-image: url("images/burger-6.jpg");
}

.box7 {
  grid-area: box7;
  background-color: #fedb39;
}

.box7:hover {
  background-image: url("images/cat-7.jpg");
}

.box8 {
  grid-area: box8;
  background-color: #6d2f8f;
}

.box8:hover {
  background-image: url("images/cat-8.jpg");
}

.box:hover {
  transition: all 1s ease-in-out;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box9 {
  grid-area: box9;
  background-image:url("images/burger-cat.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

/*.dots {
  grid-area: area3;
  border: 3px solid white;
  position: relative;
  bottom: 45em;
  left: 10em;
}*/

.arrow {
  padding: .1em;
  background-color: transparent;
  font-size: 1.9em;
  color: grey;
  opacity: 0.8;
  border: none;
  outline: none;
  max-height: 58px;
}

.arrow:hover {
  opacity: 0.9;
  color: lightblue;
}

@media screen and (max-width: 900px) {

  .header-text {
    display: unset;
    text-align: center;
    width: unset;
  }

  .name {
    font-size: 2em;
  }

  .about {
    font-size: 1.2em;
  }

  .main {
    display: block;
  }

  .box {
    height: 10em;
  }

  .box1 {
    height: 15em;
  }

  .box-nine {
    background-position: initial;
  }

  .header-buttons-section {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (min-width: 1500px) {

  .name {
    font-size: 4em;
  }

  .about {
    font-size: 2.5em;
    width: 15em;
  }

  .header-buttons-section {
    max-height: 36px;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    padding-bottom: 5em;

  }

  .space {
    height: 3.5em;
    width: 15em;
    margin-right: .5em;
    font-size: 1em;
    margin-bottom: 1em;
  }
}
