* {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: 'Titillium Web', sans-serif;
  text-shadow: -3px 0px 7px rgba(0, 0, 0, 1);
}

.main {
  display: grid;
  grid-auto-rows: 33.35%; 
  grid-template-areas: 
    "box1 box1 box2 box9 box9"
    "box3 box4 box5 box9 box9"
    "box6 box7 box8 box9 box9";
  grid-template-columns: repeat(5, 1fr);
  letter-spacing: .1em;
}

.box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*header box*/

.box1 {
  align-content: center;
  background-color: #737a87;
  display: flex;
  flex-direction: column;
  grid-area: box1;
  justify-content: center;
  justify-content: space-around;
  padding-left: 2em;
}

.header-text {
  padding-right: 1em;
}

.name {
  font-size: 2em;
  padding-top: .6em;
}

.about {
  font-size: 1.2em;
  font-weight: 300;
}

/*header box buttons*/

.header-buttons-section {
  display: flex;
  padding-top: .2em;
}

.space {
  background-color: #455f65;
  border: 2px solid white;
  color: #FFFFFF;
  cursor: pointer;
  font-size: .9em;
  height: 3.5em;
  letter-spacing: .9px;
  padding: 1em;
  width: 12em;
}

.button-icon {
  margin-right: 1em;
}

.space:hover {
  outline: 3px solid #b2c656;
}

.space1 {
  margin-right: 1.5em;
}

/*box icons and text*/

.boxicon {
  font-size: 3em;
  height: 48px;
}

.boxicon:hover {
  cursor: pointer;
  opacity: 0.2;
}

.box-text {
  font-size: 1.4em;
  max-height: 34px;
  line-height: 2em;
}



/*individual boxes*/

.box2 {
  background-color: #d1242b;
  grid-area: box2;
}

.box2:hover {
  background-image: url("images/burger-1.jpg");
}

.box3 {
  background-color: #f3a740; 
  grid-area: box3;
}

.box3:hover {
  background-image: url("images/burger-2.png");
}

.box4 {
  background-color: #b2c656;
  grid-area: box4;
}

.box4:hover {
  background-image: url("images/burger-3.jpg");
}

.box5 {
  background-color: #d25129;
  grid-area: box5;
}

.box5:hover {
  background-image: url("images/burger-5.jpg");
}

.box6 {
  background-color: #361d11;
  grid-area: box6;
}

.box6:hover {
  background-image: url("images/burger-6.jpg");
}

.box7 {
  background-color: #fedb39;
  grid-area: box7;
}

.box7:hover {
  background-image: url("images/cat-7.jpg");
}

.box8 {
  background-color: #6d2f8f;
  grid-area: box8;
}

.box8:hover {
  background-image: url("images/cat-8.jpg");
}

.box:hover {
  background-position: center;
  transition: all 1s ease-in-out;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
}

/*hero*/

.box9 {
  align-items: center;
  background-color: purple;
  background-image:url("images/burger-cat.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  display: flex;
  grid-area: box9;
  justify-content: center;
  justify-content: space-between;
}

/*icons on hero*/

.dot {
  color: grey;
  opacity: 0.4;
  cursor: pointer;
}

.dot:hover {
  color: lightblue;
  opacity: 0.9;
}

.dots {
  font-size: .9em;
  position: absolute;
  right: 14px;
  top: 13px;
}

.arrow {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 1.9em;
  max-height: 58px;
  opacity: 0.8;
  outline: none;
  padding: .1em;
  cursor: pointer;
}

.arrow:hover {
  color: lightblue;
  opacity: 0.9;
}

/*media queries*/

@media screen and (max-width: 900px) {
  
  .main {
    display: block;
  }

  .box {
    height: 12em;
  }

  .box1 {
    height: 15em;
    padding-left: 0;
  }

  .header-text {
    display: unset;
    padding-right: 0;
    text-align: center;
  }

  .header-buttons-section {
    align-items: center;
    justify-content: center;
    margin: 1em;
    padding: 0 0 .5em .9em;
  }

  .name {
    font-size: 2em;
  }

  .about {
    font-size: 1.2em;
    padding: .8em;
  }


  .box-nine {
    background-position: initial;
  }

  .dots {
    position: absolute;
    right: 14px;
    top: 110.5em
   }
}

@media screen and (max-width: 992px) {

  .header-buttons-section {
    padding-right: .9em;
  }
}

@media screen and (max-width: 1400px) {

  .box9 {
    background-image: url(images/burger-cat.jpg);
    background-position: inherit;
    grid-area: box9;
  }
}

@media screen and (min-width: 1500px) {

  .name {
    font-size: 4em;
  }

  .about {
    font-size: 2em;
    width: 15em;
  }

  .header-buttons-section {
    max-height: 36px;
    margin: 1.5em 0 2.5em 0;
    padding-bottom: 5em;
  }

  .space {
    font-size: 1.5em;
    height: 1em;
    margin: 0 .7em 1em 0;
    width: 10em;
    padding-bottom: 2em;
  }

  .boxicon {
    font-size: 4.5em;
  }

  .box-text {
    font-size: 2.2em;
    line-height: 2.6em
  }

  .dots {
    font-size: 2em;
  }

  .arrow {
    font-size: 2.4em;
  }
}
